$neon-green: #2BDE73;
$green: #25CB68;
$dark-green: #05AF3C;

$dark-gray: #353535;
$lighter-gray: #F1EEEA;
$light-gray: #DAD7D4;


$sand: #F7F5F2;
$white-blue: #FAF9F7;

$blue: #2752ff;
$dark-blue: #3D3D66;
