html {
	position: relative;
	height: 100%;
  -webkit-font-smoothing: antialiased;
}

.hidden {
  display: none;
}

#root {
  width: 100%;
  margin: 0 auto;
  font-family: "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
  font-size: 12px;
  color: $dark-gray;
}

// button {
//   margin: 10px 0;
//   font-weight: bold;
//   font-size: 16px;
// }

// button:hover {
//   background-color: $dark-green;
//   font-weight: 500px;
// }
