.dropdown-content {
    position: absolute;
    top: 101%;
    right: 0;
    background-color: white;
    border: $lighter-gray;
    min-width: 160px;
    box-shadow: -2px 2px 2px rgba(0,0,0,0.05);
    z-index: 200;
    width: 400px;
    font-size: 15px;
    font-weight: normal;
}

.dropdown-item {
  padding: 10px;
}

.dropdown-body {
  padding: 10px;
}

.dropdown-content a {
  color: $blue;
}

.dropdown-content a:hover,
.dropdown-content button:hover {
  color: $dark-blue
}

.logout {
  background-color: #F7F7F9;
  width: 100%;
  padding: 20px;
  font-size: 13px;
  display: flex;
}

.logout p {
  position: relative;
  font-weight: bold;
  margin-left: 4px;
}

.dropdown-content button {
  background-color: inherit;
  color: $blue;
  margin-left: 3px;
  height: 100%;
}

.show { display: block; }
