/* Dropdown Button */
.dropbtn {
    background-color: #f7f7f9;
    color: $dark-gray;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-right: 0;
    position: relative;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #cdcfda;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    position: absolute;
    margin-top: 22.5%;
    margin-left: -260%;
    background-color: white;
    border: $lighter-gray;
    min-width: 160px;
    box-shadow: -2px 2px 2px rgba(0,0,0,0.05);
    z-index: 200;
    width: 400px;
    font-size: 15px;
    font-weight: normal;
}

.dropdown-item {
  padding: 10px;
}

.dropdown-body {
  padding: 30px;
}

.dropdown-content a {
  color: $blue;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover,
.dropdown-content button:hover {
  color: $dark-blue
}

.logout {
  background-color: #F7F7F9;
  width: 100%;
  padding: 40px;
}

.dropdown-content button {
  background-color: inherit;
  color: $blue;
}

.dropdown-content button

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show { display: block; }
