.nav-bar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  font-size: 16px;
  box-sizing: border-box;
  box-shadow: 0px 0.5px 13px 0.5px rgba(194,192,194,1);
  position: relative;
  z-index: 1;
  align-items: center;
}

.left-nav > ul,
.right-nav > ul {
  display: flex;
}

.left-nav,
.right-nav {
  display: flex;
  align-items: center;
  font-weight: 500;
  height: 60px;
  font-size: 100%;
}

.left-nav > ul > li,
.right-nav > ul > li {
  margin-left: 21px;
  cursor: pointer;
  padding: 7px 9px;
  display: flex;
}

#explore-link i {
  color: $green;
  position: relative;
  top: -5%;
  font-size: 25px;
}

.right-nav i {
  position: relative;
  top: -5%;
  font-size: 20px;
}

.right-nav i:hover {
  color: $light-gray;
}

.logo-quick,
.logo-starter {
  font-family: "Baloo", cursive;
  font-size: 26px;
  position: relative;
  left: 19%;
  font-weight: bold;
}

.logo-starter {
  color: $green;
}

.nav-bar a {
  display: flex;
}

.header-button {
  background-color: white;
  color: $dark-gray;
}
