.nav-bar {
  display: flex;
  justify-content: space-between;
  height: 60px;
  font-size: 15px;
  box-sizing: border-box;
  box-shadow: 0px 0.5px 13px 0.5px rgba(194,192,194,1);
  position: relative;
  z-index: 1;
  align-items: center;
  // color: $gray;
}

.left-nav > ul,
.right-nav > ul {
  display: flex;
}

.nav-logo {
  // position: absolute;
  // align-items: center;
  // color: #25CB68;
  // font-weight: bolder;
  // margin: auto;
  width: 150px;
}

.left-nav,
.right-nav {
  display: flex;
  align-items: center;
  font-weight: 500;
  // color: $gray;
}

.left-nav > ul > li,
.right-nav > ul > li {
  margin-left: 21px;
  cursor: pointer;
  font-size: 14px;
  padding: 7px 9px;
  // color: $gray;
}

#explore-link i {
  color: #25CB68;
}

.header-button {
  background-color: white;
  color: #353535;
}
