.project-form-page {
  height: 100%;
  display: flex;
  width: 100%;
}

.project-form form {
  height: 100%;
  width: 100%;
  color: $green;
}

.project-form-page input {
  border: 1px solid black;
}
