.login-form-container {
  display: flex;
  justify-content: center;
  // flex-direction: column;
  font-size: 15px;
  height: 100%;
  width: 100%;
  position: absolute;
  // margin: auto;
  background-color: #F7F5F2;
}

.login-form-box {
  position: absolute;
  display: flex;
  top: 100px;
  // align-content: center;
}

.login-form {
  margin: auto;
  box-sizing: border-box;
  border: 1px solid #F1EEEA;
  border-radius: 2px;
  width: 398px;
  padding: 20px;
  background-color: white;
}

// .form-top,
// .form-bottom {
//   box-sizing: border-box;
//   border: 1px solid #F1EEEA;
//   text-align: center;
//   padding: 10px;
//   position: absolute;
//   margin: auto;
//   width: 100%;
//   width: 398px;
// }

.login-form h1 {
  font-size: 30px;
  color: #353535;
}

.login-form input {
  width: 100%;
  border-radius: 4px;
  padding: 12px 12px;
  margin: 10px 0;
}

.login-input {
  width: 100%;
  border: 1px solid gray;
}

.login-form input[type=submit] {
  margin: 10px 0;
  font-weight: bold;
}

.login-form p {
  text-align: center;
  padding: 15px;
}

.login-form a {
  font-weight: bold;
  color: #2752ff;
}

.login-form a:hover {
  font-weight: bold;
  color: #353535;
}

.login-input:focus {
  border: 1px solid blue;
}
