.login-form-container {
  display: flex;
  height: 60px;
  font-size: 15px;
  // box-sizing: border-box;
  // border-color: 1px solid #F1EEEA;
}

.login-form {
  box-sizing: border-box;
  border: 1px solid #F1EEEA;
  border-radius: 2px;
}
