.login-form-container {
  display: flex;
  justify-content: center;
  // flex-direction: column;
  font-size: 15px;
  height: 100%;
  width: 100%;
  position: absolute;
  // margin: auto;
  background-color: $sand;
}

.login-form-box {
  position: absolute;
  flex-direction: column;
  display: flex;
  top: 70px;
  border: 1px solid $lighter-gray;
  // align-content: center;
}

.login-form {
  margin: auto;
  box-sizing: border-box;
  border-radius: 2px;
  width: 398px;
  padding: 20px;
  background-color: white;
}

// .form-top,
// .form-bottom {
//   box-sizing: border-box;
//   border: 1px solid #F1EEEA;
//   text-align: center;
//   padding: 10px;
//   position: absolute;
//   margin: auto;
//   width: 100%;
//   width: 398px;
// }

.login-form h1 {
  font-size: 35px;
  font-weight: 400px;
  color: $dark-gray;
}

.login-form input {
  width: 100%;
  border-radius: 4px;
  padding: 12px 12px;
  margin: 10px 0;
}

.login-input {
  width: 100%;
  border: 1px solid $dark-blue;
}

.login-form input[type=submit] {
  margin: 10px 0;
  font-weight: bold;
}

// .login-form p {
//   text-align: center;
//   padding: 15px;
//   color: $dark-blue;
// }

.login-form-box p {
  text-align: center;
  padding: 25px;
  color: $dark-blue;
  background-color: #FCFCFC;
}

.login {
  border-bottom: 1px solid $lighter-gray;
}

.signup {
  border-top: 1px solid $lighter-gray;
}

.login-form-box a {
  font-weight: bold;
  color: $blue;
}

.login-form a:hover {
  font-weight: bold;
  color: $dark-blue;
}

.login-input:focus {
  border: 1px solid blue;
}
